<mtapp:setting
	id="include_allow_execute"
	label="<__trans phrase="Allow to use execute">"
>
<input id="include_allow_execute" name="allow_execute" type="checkbox" value="1" <mt:If name="allow_execute"> checked="checked" </mt:If>" />
</mtapp:setting>
